[workspace.package]
authors = ["Lachezar Kolev <lachezarkolevgg@gmail.com>"]
description = "EVM Indexer"
documentation = "https://docs.rs/chainthru"
edition = "2021"
homepage = "https://github.com/lbkolev/chainthru"
license = "MIT"
version = "0.0.1"
rust-version = "1.73.0"
readme = "README.md"
repository = "https://github.com/lbkolev/chainthru"

[workspace]
members = [
    "chainthru",
    "chainthru-index",
    "chainthru-primitives",
    "chainthru-server",
]
resolver = "2"

[workspace.dependencies]
chainthru-primitives = { path = "./chainthru-primitives", version = "0.0.1" }
chainthru-index = { path = "./chainthru-index", version = "0.0.1" }
chainthru-server = { path = "./chainthru-server", version = "0.0.1" }

web3 = "0.19.0"
serde = "1.0.171"
serde-aux = "4.2.0"
serde_derive = "1.0.171"
serde_json = "1.0.104"
sqlx = { git = "https://github.com/launchbadge/sqlx", branch = "main", features = ["postgres", "runtime-tokio"] }
tokio = { version = "1.29.1", features = ["macros", "full"] }
thiserror = "1.0.44"
futures = "0.3.28"
log = "0.4.19"
num_cpus = "1.16.0"
url = "2.4.0"
derive_builder = "0.12.0"
secrecy = { version = "0.8.0", features = ["serde"] }
uuid = { version = "1.4.0", features = ["v4"] }
async-trait = "0.1.72"
alloy-primitives = "0.4.2"
ethers = "2.0.10"
