openapi: 3.0.3
info:
  title: eventify-http-server
  description: Ethereum Indexer
  contact:
    name: Lachezar Kolev
    email: lachezarkolevgg@gmail.com
  license:
    name: MIT
  version: 0.0.1
paths:
  /api/v1/blocks/count:
    get:
      tags:
        - block
      summary: Get the Count of Blocks
      description: |-
        Get the Count of Blocks

        This endpoint returns the total count of blocks present in the database.
        The response is a JSON object containing the count.

        # Responses

        * `200 OK`: Successfully retrieved the count of blocks. The response body will be a JSON object with the structure `{ "count": i64 }`, where `i64` is the total number of blocks.
        * `500 Internal Server Error`: Indicates that an error occurred on the server while processing the request. The response body will contain a JSON object with an error message.

        # Example

        ```json
        {
        "count": 42
        }
        ```
      operationId: get_blocks_count
      responses:
        "200":
          description: Successfully retrieved the block count
        "500":
          description: Internal Server Error
  /api/v1/logs/count:
    get:
      tags:
        - log
      summary: Get the Count of Logs
      description: |-
        Get the Count of Logs

        This endpoint returns the total count of logs present in the database.
        The response is a JSON object containing the count.

        # Responses

        * `200 OK`: Successfully retrieved the count of logs. The response body will be a JSON object with the structure `{ "count": i64 }`, where `i64` is the total number of logs.
        * `500 Internal Server Error`: Indicates that an error occurred on the server while processing the request. The response body will contain a JSON object with an error message.

        # Example

        ```json
        {
        "count": 456
        }
        ```
      operationId: get_logs_count
      responses:
        "200":
          description: Successfully retrieved the log count
        "500":
          description: Internal Server Error
  /api/v1/transactions/count:
    get:
      tags:
        - transaction
      summary: Get the Count of Transactions
      description: |-
        Get the Count of Transactions

        This endpoint returns the total count of transactions present in the database.
        The response is a JSON object containing the count.

        # Responses

        * `200 OK`: Successfully retrieved the count of transactions. The response body will be a JSON object with the structure `{ "count": i64 }`, where `i64` is the total number of transactions.
        * `500 Internal Server Error`: Indicates that an error occurred on the server while processing the request. The response body will contain a JSON object with an error message.

        # Example

        ```json
        {
        "count": 123
        }
        ```
      operationId: get_transactions_count
      responses:
        "200":
          description: Successfully retrieved the transaction count
        "500":
          description: Internal Server Error
